.main {
  font-size: 1rem;
  height: 100%;

  .HeaderTabs {
    height: 100%;

    .TabsForHeader {
      height: 100% !important;

      :global {
        .rv-tab--active {
          color: #000;
        }

        .rv-tabs__line {
          background-color: red;
        }

        .rv-tabs__wrap {
          border-bottom: 1px solid #eee;
          padding: 0.5rem 0;
        }
      }
    }

    .TabsForScroll {
      :global {
        .rv-tab {
          color: #888;
        }

        .rv-tab__text {
          // font-size: 28px;
        }

        .rv-tab--active {
          color: #000;
        }

        .rv-tabs__line {
          display: none;
        }

        .rv-tabs__wrap {
          border: none;
          padding: 0;
        }

        // .rv-tabs__content {
        //   margin-top: 0px;
        //   padding: 0.5rem;
        // }
      }
    }
  }

  .item {
    margin-bottom: 0.5rem;
    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 2px 8px;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .item img {
    width: 100%;
    height: 100%;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 14px;
  }

  .spanclass {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    // font-size: 26px;
  }

  .footerMainBom {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  .footer .footerLeft {
    // font-size: 26px;
    display: flex;
    align-items: center;
  }

  .footer .footerRight {
    // font-size: 26px;
    display: flex;
    align-items: center;
    color: #666;
  }

  .footer .heart {
    width: 1rem;
    height: 1rem;
  }


}


#macy-container {
  width: 100%;
  position: relative;
}


.mainList {
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  overflow: -moz-scrollbars-none;
  position: relative;
  margin: 0 0.5rem;
}

.mainList.keep-px-bottom {
  // padding-bottom: 170px;
}

.mainList::-webkit-scrollbar {
  width: 0 !important
}

.mylist {
  padding-bottom: 0px;
}